.simple-calendar {
  width: 400px;
  padding: 0 20px;

  .wday-0 {
    background: #ffeaea;
    color: #ff505c;
  }
    background: #d4ebff;
    color: #5984dc;
  }

.calendar-heading {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.calendar-heading a {
  color: blue;
  text-decoration: underline;
}

.calendar-title {
  font-size: 20px;
  padding: 0 20px;
}
.schedule {
  font-size: 7px;
  color: blue;
  text-decoration: underline;
}