.wrapper {
  display: flex;
}
.side-bar {
  width: 300px;
  height: 70vh;
}

.side-bar-header {
  height: 100px;
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
  background-color: #42b5f82f;
  border-bottom: white solid 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name a{
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a {
  font-size: 15px;
  border: 3px solid white;
  padding: 14px;
  background-color: deepskyblue;
  border-radius: 30px;
  text-decoration: none;
}

.rooms {
  background-color: #42b5f82f;
  height: 70vh;
  padding: 0 20px;
  overflow: scroll;
}

.room {
  margin-top: 15px;
  padding: 20px 20px;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  border: #38AEF0 solid 2px;
}

.room-name a {
  text-decoration: none;
  font-weight: bolder;
}

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.chat-header {
  height: 100px;
  padding: 0 40px;
  background-color: #8242f82f;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-size: 24px;
  margin-top: 36px;
  font-weight: bold;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  font-size: 15px;
  font-weight: bolder;
  text-decoration: none;
  background-color: rgb(240, 49, 43);
  padding: 20px;
  border-radius: 30px;
  border: 3px solid white;
}

.messages {
  background-image: url(main_back.jpg);
  height: calc(70vh - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  width: 400px;
  background-color: white;
}

.my-message {
  width: 400px;
  margin: 10px 0 0 auto;
  background-color: aquamarine;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
  border-radius: 20px;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  margin-left: 17px;
  padding-left: 15px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
  border-radius: 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
  border-radius: 20px;
}

.hidden {
  display: none;
}